.content {
	background-color: transparent;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.content__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.content__item img {
	width: 30%;
}

.content__item:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
}

.content__item:nth-child(9):hover {
	border-bottom-left-radius: 20px;
}
